<%- include('partials/header'); -%>

<h1>Home</h1>

<p><%= homeStarttingtext %> </p>

<% posts.forEach(function (posts) { %>
    <% console.log(posts.title) %>
    <h1>
        <%= posts.title.substring(0,100) %> 
    </h1> 
    <div>
        <p>
            <%= posts.postBody.substring(0,100)  %>... 
        </p>
        <a href="/posts/<%= posts.title %> ">Read Me</a>
        
    </div>
  
<% }); %> 
    


<%- include('partials/footer'); -%>
